name: Push Tag on Merge

on:
  pull_request:
    branches:
      - master
    types:
      - closed
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  push-tag:
    name: Push Tag on Merge
    runs-on: ubuntu-latest
    if: github.repository == 'DecapodLabs/decapod' && github.event.pull_request.merged == true
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Push all new tags
        run: |
          git fetch --tags origin master
          # Push all tags that exist locally but not on origin
          git push origin --tags
